<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="60" packages="com.gap.poet.testing.logging">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t::%X{JmsMessageId}] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="WARN">
            <AppenderRef ref="Console" />
        </Root>
        <Logger name="com.keeganwitt" level="INFO" additivity="false" />
    </Loggers>
</Configuration>
